/* fonts */
@font-face {
    font-family: 'poppins-semibold';
    src: url('assets/fonts/poppins/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'inter-light';
    src: url('assets/fonts/inter/Inter-Light.ttf');
}

.interRegular {
    font-family: 'inter-light';
    color: white; 
}

.poppinsSemiBold {
    font-family: 'poppins-semibold';
    color: white; 
    font-size: 35px;
}


/* general */
body {
    text-align: center;
    width: 100%;
}

table {
    width: 90%;
    margin: 0 auto;
    text-align: left;
}

/* segments */
#intro {
    padding: 20px;
    text-align: right;
    width: 85%;
    height: auto;
    margin: 0 auto;
    border-radius: 30px;
    background-image: linear-gradient(to bottom right, #6475c5, #4357B3);
}

#name {
    text-align: left;
}

.reward-box {
    margin: auto;
}
  
#globe {
    width: 300px;
    height: 300px;
    display: flex;
    margin: 0 auto;
    /* margin-left: 10px;
    margin-right: 10px; */
    /* justify-content: center; */
}

#greeting {
    text-align: left;
}

.bg {
    padding: 70px;
    width: 85%;
    height: auto;
    margin: 0 auto;
    border-radius: 30px;
    background-image: linear-gradient(to bottom right, #95BA47, #47BAA5);
    color: white;
}

#qrImg {
    width: 20%;
    height: auto;
    padding-top: 20px;
    justify-content: center;
    margin: auto;
;}

#tier {
    padding: 70px;
    padding-bottom: 50px;
    width: 85%;
    height: auto;
    margin: 0 auto;
    border-radius: 30px;
    background-image: linear-gradient(to bottom right, #4795BA, #6475c5);
}

#progressTier {
    padding: 70px;
    width: 85%;
    height: auto;
    margin: 0 auto;
    border-radius: 30px;
    background-image: linear-gradient(to bottom right, #6475c5, #4357B3);
}

.progress {
    width: 80%;
    margin: 0 auto;
}

#tierImg {
    width: 300px;
    padding: 10px;
}

#bronzeQR {
    padding-top: 20px;
    margin: auto;
}

#silverQR {
    padding-top: 20px;
    margin: auto;
}

#goldQR {
    padding-top: 20px;
    margin: auto;
}


/* maybe trash */
/* .gradient {
    padding: 30px;
    width: 85%;
    height: 84%;
    margin: 0 auto;
    border-radius: 30px;
    background-image: linear-gradient(to bottom right, #4795BA, #5CBA47);
  } */